doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      p A new user account has been created for you at #{domain}
      p Name: #{first_name} #{last_name}
      p Password: #{password}
      p If you are not expecting this email. Please delete it and contact #{troubleshoot}
